.loop-container.loop-layout-services_excerpt {

    .entry {
        padding: 0;
        background-color: transparent;
    }

    .excerpt {
        margin-bottom: 15px;
    }

    h3 a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

/* ==========================================================================
   More spacing between them by default
   ========================================================================== */

@media(min-width: 960px) {
    .loop-container.loop-layout-services_excerpt {

        &.loop-columns-2,
        &.loop-columns-3 {
            max-width: calc(100% + 60px);
            width: calc(100% + 60px);
            margin: 0 -30px;

            .entry {
                margin: 0 30px 60px;

            }

        }

        &.loop-columns-2 .entry {
            width: calc(100% / 2 - 60px);
        }

        &.loop-columns-3 .entry {
            width: calc(100% / 3 - 60px);
        }
    }
}