.loop-container.loop-layout-services {
    .featured-image {
        background-color: #f7f7f7;
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center center;
        height: 0;
        padding-top: 56%;
        margin-bottom: 10px;
    }

    .entry {
        padding: 0;
        background-color: transparent;
    }

    h3 a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .excerpt {
        margin-bottom: 15px;
    }
}

/* ==========================================================================
   More spacing between them by default
   ========================================================================== */

@media(min-width: 960px) {
    .loop-container.loop-layout-services {

        &.loop-columns-1 {
            .loop-item-inner {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;

                .featured-image {
                    padding-top: 0;
                    height: auto;
                    width: 35%;
                    margin-right: 40px;
                    margin-bottom: 0;
                    min-height: 300px;
                }

                .services-content-wrap {
                    width: calc(100% - 30%);
                    display: flex;
                    align-items: center;

                }
            }
        }
    }
}